body{
  margin: 5px;
  background-color: #0D0C0C;
}

/* HEADER */
header{
  height: 45px;
  background-color: yellow;
}
nav{
  display: flex;
}
.marvel_logo{
  height: 45px;
  width: 80px;
}
.form-search{
  display: flex;
  padding-bottom: 6px;
  width: 70%;
  margin: auto;
}

.form-search input{
  width: 100%
}
/* MAIN */
main{
  margin: 0;
  padding: 0;
}
.conteiner{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  position: relative;
    display: inline-block;
    text-align: center;
    width: 75%;
    margin: 20px;

}
.card img{
  width: 100%;

}
.name{
  color: #ffeb3b;
  position: absolute;
    top: 81%;
    left: 32px;
    font-size: 22px;
}
/* FOOTER */
footer{
  text-align: center;
  height: 27px;
  padding-bottom: 8px;
}

.bottom {
  color: #f9c995; 
  text-decoration: none;
  padding: 0 11px;
  font-size: 23px;
}

abbr[title] {
text-decoration: none;
}

@media only screen and (min-width:640px){

  .conteiner{
    display: block;
    text-align: center;
  } 
  .card{
    width: 40%;
  }

}

@media only screen and (min-width:992px){
  .card{
    width: 20%;
  }
}