body{
  background-color:  #ecf0f1;
}

/* HEADER */
header{

  background-color:  #fbfcfc;
  padding: 7px;
  border-bottom: 2px solid #cac5c56b;
}

nav{
  display: flex;
}
.logo-container{
  border-right:  2px solid #cac5c56b;
  padding-right: 30px;
  padding-left: 41px;
}
.marvel_logo{

  width: 80px;
}
.form-search{
  display: flex;
  padding-bottom: 6px;
  width: 50%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.form-search input{
  width: 100%
}
/* MAIN */
main{
  margin: 0;
  padding: 0;
}
.conteiner{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  position: relative;
    display: inline-block;
    text-align: center;
    width: 75%;
    margin: 20px;

}
.card img{
  width: 100%;

}
.name{
  color: #ffeb3b;
  position: absolute;
    top: 81%;
    left: 32px;
    font-size: 22px;
}
/* FOOTER */
footer{
  text-align: center;
  height: 27px;
  padding-bottom: 8px;
}

.bottom {
  color: #f9c995; 
  text-decoration: none;
  padding: 0 11px;
  font-size: 23px;
}

abbr[title] {
text-decoration: none;
}

@media only screen and (min-width:640px){

  .conteiner{
    display: block;
    text-align: center;
  } 
  .card{
    width: 40%;
  }

}

@media only screen and (min-width:992px){
  .card{
    width: 20%;
  }
}

.rojo{
  color: red;
}